<div class="App">
  <header class="App-header">
    <nav>
      <%=
      
        Rails.application.routes.routes.compact.map do |endpoint|
          link_to endpoint.name, endpoint.name if endpoint.path.present?
        end.join("<hr>").html_safe 
      %>
    </nav>
    <p class="small">
      <pre></pre>
    </p>
  </header>
  
</div>
