<p style="color: green"><%= notice %></p>

<h1>Runners</h1>

<div id="runners">
  <% @runners.each do |runner| %>
    <%= render runner %>
    <p>
      <%= link_to "Show this runner", runner %>
    </p>
  <% end %>
</div>

<%= link_to "New runner", new_runner_path %>
